<div class="conversation-list">
  <h2>メッセージ一覧</h2>
  <p><%= link_to "ユーザー一覧へ",users_index_path %></p>
  <% if conversations != nil %>
    <% conversations.each do |conversation| %>
      <div class = "conversation-tag">
        <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation),class:'user-name'%>
        <%= conversation.messages.where(read:false).where.not(user_id:current_user.id).count %>  
        <div>
          <% conversation.messages.each do |message|%>
            <% if message == conversation.messages.last %>
              <%= message.body %>
              <p>/<%= message.user.name %></p>
              <small><%= message.message_time %></small>
            <% end %>

          <% end %>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
