<div class="message-user">
  <% if @conversation.sender_id == @conversation.recipient_id %>
    <h3 class="title-place">自分に送るメッセージ</h3>
  <% elsif @conversation.sender_id == current_user.id %>
    <h3 class="title-place">「<%= User.find(@conversation.recipient_id).name %>」様とのメッセージ</h3>
  <% else %>
    <h3 class="title-place">「<%= User.find(@conversation.sender_id).name %>」様とのメッセージ</h3>
  <% end %>
</div>
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<div class="ui segment">

  <% @messages.each do |message| %>

    <% if message.body.present? %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= message.user.name %></strong><%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
              <% if @conversation.sender_id != @conversation.recipient_id %>
                <% if message.user == current_user %>
                   /<%= message.read ? '既読' : '未読' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="message-form">
  <%= form_with(model: [@conversation, @message]) do |f| %>
    <div class="field">
      <%= f.text_field :body, class: "form-control",placeholder:"伝えたい言葉をメッセージで送信してください"%>
    </div>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <div>
      <%= f.submit "メッセージを送る" %>
    </div>
  <% end %>
</div>
<div class="conversation-room">
  <%= link_to "会話ルーム一覧に戻る",conversations_path,class:"conversation-room-link" %>
</div>
