<div class="conversation-index">
  <h2>メッセージ一覧</h2>
  <p><%= link_to "ユーザー一覧へ",users_index_path %></p>
  <% @conversations.each do |conversation| %>
    <div class = "conversation-tag-index">
      <% if conversation.target_user(current_user).present? %>
        <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation),class:'user-name'%>
        <p>
          <% conversation.messages.each do |message|%>
            <% if message == conversation.messages.last %>
              <%= message.body %>/<%= message.user.name %>
              <br>
              <small><%= message.message_time %></small>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
