<%if params[:sort_movie_id]%>
  <% movieshow = JSON.parse((Tmdb::Movie.detail(params[:sort_movie_id])).to_json) %>
  <%= link_to "「"+movieshow['table']['title']+"」の評価を投稿", new_movie_evaluation_path(movie_id:params[:sort_movie_id],select_movie:true),class:"title-place" %>
<%else%>
  <%= link_to '新しい投稿', new_movie_evaluation_path,class:"title-place" %>
<%end%>

<h4 class="title-place">
  <%if params[:popular]%>
    本日の人気評価
  <%elsif params[:my_evaluation]%>
    あなたが投稿した評価
  <%elsif params[:sort_movie_id]%>
    映画「<%= movieshow['table']['title'] %>」に関する評価
  <%elsif params[:id]%>
    「<%= user.name%>」様の投稿した評価
  <%else%>
    最近投稿された評価
  <%end%>
</h4>
<div class="card-wrapper_list">
<% if movie_evaluations.count != 0 %>
  <% movie_evaluations.each do |movie_evaluation| %>
      <% movieshow = JSON.parse((Tmdb::Movie.detail(movie_evaluation.movie_id)).to_json) %>
      <div class="evaluation-list-all">
          <div class="evaluation-list">
            <div>
              <%if movieshow['table']['poster_path']== nil %>
                <p><%= image_tag 'no_image.png',class: "poster-img" %></p>
              <% else %>
                <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieshow['table']['poster_path'],class: "poster-img" %></p>
              <% end %>
              <p><%= link_to movieshow['table']['title'], top_path(movieshow['table']['id']),class:"movie-evaluation-title" %></p>
            </div>

            <div class="evaluation-info">
              <h5><%= movie_evaluation.user.name %></h5>
              <div id="star-rate-<%= movie_evaluation.id %>"></div>
              <%= movie_evaluation.score %>
               <script>
               $('#star-rate-<%= movie_evaluation.id %>').raty({
                 size: 36,
                 starOff:  '<%= asset_path('star-off.png') %>',
                 starOn : '<%= asset_path('star-on.png') %>',
                 starHalf: '<%= asset_path('star-half.png') %>',
                 half: true,
                 readOnly: true,
                 score: <%= movie_evaluation.score %>,
               });
               </script>
               <p><%= movie_evaluation.short_criticism %></p>
               <p>
                <small class="text-muted"><%= movie_evaluation.created_at %></small>
               </p>
               <p>
                 <small class="crud-menu">
                   <%= link_to '詳細', movie_evaluation %>
                   <% if current_user != nil %>
                     <% if movie_evaluation.user_id == current_user.id or current_user.admin == true %>
                        |
                       <%= link_to '編集', edit_movie_evaluation_path(movie_evaluation) %> |
                       <%= link_to '削除', movie_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
                     <% end %>
                   <% end %>
                   <% unless current_user ==nil %>
                     <% unless movie_evaluation.user_id == current_user.id %>
                     <% @like = current_user.likes.find_by(movie_evaluation_id:movie_evaluation.id) %>
                       <% if @like.present? %>
                         <%= link_to like_path(id: @like.id),name:"like", method: :delete, class: 'btn btn-danger',notice:"like" do %>
                           <i class="fas fa-heart unlike-btn" ></i>
                         <%end %>
                       <% else %>
                         <%= link_to likes_path(movie_evaluation_id: movie_evaluation.id),name:"like", method: :post, class: 'btn btn-primary',notice:"unlike" do %>
                           <i class="fas fa-heart like-btn"></i>
                         <%end %>
                       <% end %>
                     <% end %>
                     <%= movie_evaluation.likes.count %>
                   <% end %>
                 </small>
               </p>
            </div>
          </div>
      </div>
  <% end %>
<% else %>
  <div class="blank-place">
    <h3>まだ、投稿がありません！あなたが最初投稿者になってくれませんか？</h3>
  </div>
<% end %>
</div>
