<h4>映画検索</h4>
<div>
  <%= form_with(model: search, local:true,method: :get) do |form| %>
    <%=form.text_field:search_title,:placeholder => "映画のタイトルを入力して検索",size:50 %>
    <%= form.submit("search") %>
  <% end %>
</div>

<%if params[:search_title].present? %>
    <% @movieinfo = JSON.parse((Tmdb::Search.movie(params[:search_title])).to_json) %>
    <h2><%= params[:search_title] %>の検索結果</h2>
    =====================
    <% i = 0 %>
    <div class="card-wrapper">
        <% while i < @movieinfo['table']['results'].count %>
            <div class="card">
                <div class="card-upperinfo">
                    <%if @movieinfo['table']['results'][i]['table']['title'].present?%>
                        <p>タイトル</p>
                        <p><%= link_to @movieinfo['table']['results'][i]['table']['title'],top_path(@movieinfo['table']['results'][i]['table']['id']) %></p>
                    <%end%>

                    <% if @movieinfo['table']['results'][i]['table']['release_date'].present? %>
                        <p>リリース</p>
                        <p class="release-date"><%= @movieinfo['table']['results'][i]['table']['release_date'] %></p>
                    <%end%>
                </div>


                <% if @movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>
                <%end%>
                <p class="select_movie"><%=link_to "選択",new_movie_evaluation_path(movie_id:@movieinfo['table']['results'][i]['table']['id'],select_movie:"true")%></p>
            </div>
            <% i += 1%>
        <%end%>
    </div>
<%else%>
<%end%>
