<h1>映画評価の投稿一覧</h1>


<div class="index-evaluation-form">
    <h2>簡易新規投稿</h2>
    <%if params[:index_select_movie] == nil %>
      <p><small>※まず、評価したい映画を検索した選択してください</small></p>
      <p><small>映画の情報の確認しながら投稿したい方は<%= link_to '新規投稿(詳細)ページ', new_movie_evaluation_path %>へ</small></p>
      <br>
      <div class="search">
        <%= render 'index_search', search: @movieinfo%>
      </div>
    <% end %>
    <%if params[:index_select_movie] %>
      <div class="form">
        <%= render 'index_form', movie_evaluation: @movie_evaluation %>
      </div>
    <% end %>
</div>
<div class="sort-menu">
  <a>並び順</a>
  <%= link_to '投稿順に並べる', movie_evaluations_path %>  /
  <%= link_to '人気評価順に並べる', movie_evaluations_path(popular:'true') %>  /
  <%= link_to '自分の投稿を見る', movie_evaluations_path(my_evaluation:'true') %>
</div>
<div class="list-place">
  <%= render 'list', movie_evaluations: @movie_evaluations,user:@user %>
</div>
<%= link_to '一覧へ', movie_evaluations_path %>
