<h1>映画の詳細情報</h1>
<% movieshow = JSON.parse((Tmdb::Movie.detail(@movie_evaluation.movie_id)).to_json) %>
  <div class="card">
  <%if movieshow['table']['poster_path']== nil %>
    <p>no image</p>
  <% else %>
    <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieshow['table']['poster_path'],class: "card-img" %>
  <% end %>

    <div class="card-upperinfo">
      <p>タイトル</p>
      <p><%= movieshow['table']['title']  %></p>
      <p>リリース</p>
      <p><%= movieshow['table']['release_date'] %></p>
      <p>上映時間</p>
      <p><%= movieshow['table']['runtime'] %></p>
      <p>ジャンル</p>
      <p>
        <% movieshow['table']['genres'].each do |genre| %>
          <%= genre['table']['name'] %>
        <% end %>
      </p>
      <p>あらすじ</p>
      <p><%= movieshow['table']['overview'] %></p>
    </div>
  </div>

<p>
  <strong>Short criticism:</strong>
  <%= @movie_evaluation.short_criticism %>
</p>

<p>
  <strong>Score:</strong>
  <%= @movie_evaluation.score %>
</p>
 <!--星評価-->
<div id="star-rate-<%= @movie_evaluation.id %>"></div>
 <script>
 $('#star-rate-<%= @movie_evaluation.id %>').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   half: true,
   readOnly: true,
   score: <%= @movie_evaluation.score %>,
 });
 </script>
<p>
  <strong>Movie:</strong>
  <%= @movie_evaluation.movie_id %>
</p>

<%= link_to 'Edit', edit_movie_evaluation_path(@movie_evaluation) %> |
<%= link_to 'Back', movie_evaluations_path %>
