<h1>FilmParadiso</h1>

<h3>概要</h3>
<p>FilmParadisoは鑑賞した映画について評価を投稿・閲覧、使用者のお好みに近い映画を推薦などの機能があり</p>
<p>映画好きなユーザー有益な情報を提供するのを目標にしております。</p>

<h3>コンセプト</h3>
<p>FilmParadisoは映画好きな人同士の情報・意見交流を指向するアプリケーションです。</p>


<p><%= link_to "映画検索",search_tops_path %></p>

<h2>最新投稿</h2>
<p><%= link_to "映画評価作成",new_movie_evaluation_path %></p>
<p><%= link_to "映画評価一覧",movie_evaluations_path %></p>
<p>
  <%= render "evaluation",movie_evaluations:@movie_evaluations %>
</p>

    <h2>本日の世界のトレンド</h2>
    ====================
    <% moviepopular = JSON.parse((Tmdb::Movie.popular).to_json) %>
    <% i = 0 %>
    <div class="card-wrapper">
        <% while i < 5 %>
            <div class="card">
                <div class="card-upperinfo">
                    <%if moviepopular['table']['results'][i]['table']['title'].present?%>
                        <h2>タイトル</h2>
                        <h3><%= link_to moviepopular['table']['results'][i]['table']['title'], top_path(moviepopular['table']['results'][i]['table']['id'])%></h3>
                    <%end%>

                    <% if moviepopular['table']['results'][i]['table']['release_date'].present? %>
                        <h3>リリース</h3>
                        <p class="release-date"><%= moviepopular['table']['results'][i]['table']['release_date'] %></p>
                    <%end%>
                </div>

                <% if moviepopular['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + moviepopular['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>
                <%end%>
            </div>

            <% i += 1%>
        <%end%>
    </div>
