
<h1>映画検索</h1>

<div>
  <%= form_tag(search_tops_path, method: :get) do %>
    <%= search_field_tag :looking_for, nil, placeholder: "映画のタイトルを入力して検索",size:50 %>
    <%= submit_tag '検索' %>
  <% end %>
</div>

<%if params[:looking_for].present? %>
    <% movieinfo = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
    <h2>タイトル<%= params[:looking_for] %>の検索結果</h2>
    =====================
    <% i = 0 %>
    <div class="card-wrapper">
        <% while i < movieinfo['table']['results'].count %>
            <div class="card">
                <div class="card-upperinfo">
                    <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                        <h2>タイトル</h2>
                        <h3><%= link_to movieinfo['table']['results'][i]['table']['title'],top_path(movieinfo['table']['results'][i]['table']['id']) %></h3>
                    <%end%>

                    <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                        <h3>リリース</h3>
                        <p class="release-date"><%= movieinfo['table']['results'][i]['table']['release_date'] %></p>
                    <%end%>
                </div>


                <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "card-img" %></p>
                <%end%>
            </div>
            <% i += 1%>
        <%end%>
    </div>
<%else%>

    </div>
<%end%>
