
<h1 class="search_form">映画検索</h1>

<div class="search_form">
  <%= form_tag(search_tops_path, method: :get) do %>
    <%= search_field_tag :looking_for, nil, placeholder: "映画のタイトルを入力して検索",size:50,class:"search_form"%>
    <%= submit_tag '検索' %>
  <% end %>
</div>
<div class="movie-list-wrap">
  <%if params[:looking_for].present? %>
      <% movieinfo = JSON.parse((Tmdb::Search.movie(params[:looking_for])).to_json) %>
      <h2 class="search_form">タイトル「<%= params[:looking_for] %>」の検索結果</h2>
      <p class="search_form">===========================================================================================================</p>
      <% i = 0 %>
      <div class="movie-list-all">
          <% while i < movieinfo['table']['results'].count %>
              <div class="movie-list">
                <% if movieinfo['table']['results'][i]['table']['poster_path'].present? %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieinfo['table']['results'][i]['table']['poster_path'],class: "poster-img" %></p>
                <% else %>
                    <p><%= image_tag 'no_image.png',class: "poster-img" %></p>
                <%end%>
                <div class="movie-info">
                  <%if movieinfo['table']['results'][i]['table']['title'].present?%>
                      <p>タイトル</p>
                      <p><%= link_to movieinfo['table']['results'][i]['table']['title'],top_path(movieinfo['table']['results'][i]['table']['id']) %></p>
                  <%end%>

                  <% if movieinfo['table']['results'][i]['table']['release_date'].present? %>
                      <p>リリース</p>
                      <p><%= movieinfo['table']['results'][i]['table']['release_date'] %></p>
                  <%end%>
                </div>
              </div>
              <% i += 1%>
          <%end%>
      </div>
  <%else%>
    <% moviegenre_recommend = JSON.parse((Tmdb::Movie.popular).to_json) %>
    <h3 class="search_form">本日の世界のトレンド</h3>
    <p class="search_form">===========================================================================================================</p>
      <div class="movie-list-all">
        <% moviegenre_recommend['table']['results'].each do |recommended| %>
          <div class="movie-list">
            <% if recommended['table']['poster_path'].present? %>
                <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + recommended['table']['poster_path'],class: "poster-img" %></p>
            <%end%>
            <div class="movie-info">
                <%if recommended['table']['title'].present?%>
                    <p>タイトル</p>
                    <p><%= link_to recommended['table']['title'] ,top_path(recommended['table']['id'])%></p>
                <%end%>

                <% if recommended['table']['release_date'].present? %>
                    <p>リリース</p>
                    <p><%= recommended['table']['release_date'] %></p>
                <%end%>
            </div>
          </div>
        <% end %>
      </div>
  <%end%>
</div>
