
<% movieshow = JSON.parse((Tmdb::Movie.detail(params[:id])).to_json) %>
<% moviecast = JSON.parse((Tmdb::Movie.cast(params[:id])).to_json) %>
<% moviedirector = JSON.parse((Tmdb::Movie.director(params[:id])).to_json) %>

<h1>映画「<%= movieshow['table']['title'] %>」の詳細情報</h1>
<br>

<div class="show-poster">
  <% if movieshow['table']['poster_path'] != nil %>
    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieshow['table']['poster_path'],class:"show-img" %></p>
  <% else %>
    <p><%= image_tag 'no_image.png',class: "poster-img" %></p>
  <% end %>
</div>
<div class="movie-show">
  <div class="show-text">
    <p class="menu">タイトル</p>
    <p><%= movieshow['table']['title'] %></p>
    <p class="menu">リリース</p>
    <p><%= movieshow['table']['release_date'] %></p>
    <p class="menu">上映時間</p>
    <p><%= movieshow['table']['runtime'] %>分</p>
    <p class="menu">ジャンル</p>
    <p>
      <% movieshow['table']['genres'].each do |genre| %>
        <%= genre['table']['name'] %>
        /
      <% end %>
    </p>
    <p class="menu">あらすじ</p>
    <p><%= movieshow['table']['overview'] %></p>
  </div>
</div>
<br>
<div class="cast">
  <p class="menu">監督</p>
    <% moviedirector.each do |director| %>
      <p><%=director['table']['name']%></p>
    <% end %>
  <p class="menu">出演</p>
    <% moviecast.each do |cast| %>
      <a><%= cast['table']['name'] %></a>
      /
    <% end %>
</div>
<br>
<h3>映画「<%= movieshow['table']['title'] %>」の評価</h3>
<%= link_to "「"+movieshow['table']['title']+"」の評価を投稿", new_movie_evaluation_path(movie_id:params[:id],select_movie:true) %>
<br>
<%= link_to 'もっと見る', movie_evaluations_path(sort_movie_id:params[:id]) %>





<% @movie_evaluations.each do |movie_evaluation| %>
  <% if movie_evaluation != nil %>
    <% movieshow = JSON.parse((Tmdb::Movie.detail(movie_evaluation.movie_id)).to_json) %>
    <div class="evaluation-list-all">
      <div class="evaluation-list">
        <%if movieshow['table']['poster_path']== nil %>
          <p><%= image_tag 'no_image.png',class: "poster-img" %></p>
        <% else %>
          <%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieshow['table']['poster_path'],class: "poster-img" %>
        <% end %>
        <p><%= link_to movieshow['table']['title'], top_path(movieshow['table']['id']) %></p>
        <div class="evaluation-info">
          <h5 class="card-title"><%= movie_evaluation.user.name %></h5>
          <div id="my-evaluation-star-rate-<%= movie_evaluation.id %>"></div>
          <%= movie_evaluation.score %>
           <script>
           $('#my-evaluation-star-rate-<%= movie_evaluation.id %>').raty({
             size: 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             starHalf: '<%= asset_path('star-half.png') %>',
             half: true,
             readOnly: true,
             score: <%= movie_evaluation.score %>,
           });
           </script>
           <%= movie_evaluation.short_criticism %>
           <p class="card-text"><small class="text-muted"><%= movie_evaluation.created_at %></small></p>
           <p class="card-text"><small class="crud-menu">
             <%= link_to '詳細', movie_evaluation %>
             <% unless current_user ==nil %>
               <% unless movie_evaluation.user_id == current_user.id %>
               <% @like = current_user.likes.find_by(movie_evaluation_id:movie_evaluation.id) %>
                 <% if @like.present? %>
                   <%= link_to like_path(id: @like.id),name:"like", method: :delete, class: 'btn btn-danger',notice:"like" do %>
                     <i class="fas fa-heart unlike-btn" ></i>
                   <%end %>
                 <% else %>
                   <%= link_to likes_path(movie_evaluation_id: movie_evaluation.id),name:"like", method: :post, class: 'btn btn-primary',notice:"unlike" do %>
                     <i class="fas fa-heart like-btn"></i>
                   <%end %>
                 <% end %>
               <% end %>
               <%= movie_evaluation.likes.count %>
             <% end %>
             <% if current_user != nil %>
               <% if movie_evaluation.user_id == current_user.id || current_user.admin  == true %>
                  |
                 <%= link_to '編集', edit_movie_evaluation_path(movie_evaluation) %> |
                 <%= link_to '削除', movie_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
               <% end %>
             <% end %>
           </small></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
