<h1><%= @user.name %>様のプロフィール</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<div class="links">
  <% if @user.id == current_user.id %>
    <% if @user.guest != true %>
      <%= link_to "プロフィール編集", edit_user_registration_path %>
      <%= link_to "退会", user_registration_path ,method: :delete, data: { confirm: '退会になると、今まで作成した情報全てが削除されますが、本当に退会してもよろしいでしょうか?' } %>
    <% end %>
    <% if @user.admin == true %>
      <%= link_to "管理画面", rails_admin_path %>
    <% end %>
  <% end %>
</div>
