<h1><%= @user.name %>様のプロフィール</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %>
  <% if @user.id != current_user.id%>
    <%= render 'follow_form', user: @user %>
  <% end %>
</p>
  <% if @user.id == current_user.id%>
    <p>
      <%= link_to 'メッセージ',conversations_path  %>||
      <%= link_to 'フォロイング',relationships_path(follow:'true') %>　||
      <%= link_to 'フォロワー',relationships_path(followed:'true') %>　||
      <%= link_to '💛した評価',likes_path %>
    </p>
    <p><%= link_to "自分にメッセージ",conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post,class:"message-to-user" %></p>
  <% else %>
    <p><%= link_to "#{@user.name}さんにメッセージ",conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post,class:"message-to-user" %></p>
  <% end %>

<div class="links">
  <% if @user.id == current_user.id%>
      <%= link_to "プロフィール編集", edit_user_registration_path %> ||
      <%= link_to "退会", user_registration_path ,method: :delete, data: { confirm: '退会になると、今まで作成した情報全てが削除されますが、本当に退会してもよろしいでしょうか?' } %>
    <% if @user.admin == true && @user.id == current_user %>
      <%= link_to "管理画面", rails_admin_path %>
    <% end %>
  <% end %>
</div>
<br>
<% if @user.id == current_user.id %>
  <h5>あなたが投稿した評価</h5>
<% else %>
  <h5><%=@user.name%>様がが投稿した評価</h5>
<% end %>
<%= link_to 'もっと見る', index_full_movie_evaluations_path(id:@user.id) %>
<div class="card-pack-yours">
<% @movie_evaluations.each do |movie_evaluation| %>
  <%if movie_evaluation.user_id == @user.id %>
    <% movieshow = JSON.parse((Tmdb::Movie.detail(movie_evaluation.movie_id)).to_json) %>
    <div class="evaluation-list-all">
        <div class="evaluation-list">
          <div>
            <%if movieshow['table']['poster_path']== nil %>
              <p><%= image_tag 'no_image.png',class: "poster-img" %></p>
            <% else %>
              <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + movieshow['table']['poster_path'],class: "poster-img" %></p>
            <% end %>
            <p><%= link_to movieshow['table']['title'], top_path(movieshow['table']['id']),class:"movie-evaluation-title" %></p>
          </div>

          <div class="evaluation-info">
            <h5><%= movie_evaluation.user.name %></h5>
            <div id="star-rate-<%= movie_evaluation.id %>"></div>
            <%= movie_evaluation.score %>
             <script>
             $('#star-rate-<%= movie_evaluation.id %>').raty({
               size: 36,
               starOff:  '<%= asset_path('star-off.png') %>',
               starOn : '<%= asset_path('star-on.png') %>',
               starHalf: '<%= asset_path('star-half.png') %>',
               half: true,
               readOnly: true,
               score: <%= movie_evaluation.score %>,
             });
             </script>
             <p><%= movie_evaluation.short_criticism %></p>
             <p>
              <small class="text-muted"><%= movie_evaluation.created_at %></small>
             </p>
             <p>
               <small class="crud-menu">
                 <%= link_to '詳細', movie_evaluation %>
                 <% if current_user != nil %>
                   <% if movie_evaluation.user_id == current_user.id or current_user.admin == true %>
                      |
                     <%= link_to '編集', edit_movie_evaluation_path(movie_evaluation) %> |
                     <%= link_to '削除', movie_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %>
                   <% end %>
                 <% end %>
                 <% unless current_user ==nil %>
                   <% unless movie_evaluation.user_id == current_user.id %>
                     <% if @like.present? %>
                       <%= link_to like_path(id: @like.id),name:"like", method: :delete, class: 'btn btn-danger',notice:"like" do %>
                         <i class="fas fa-heart unlike-btn" ></i>
                       <%end %>
                     <% else %>
                       <%= link_to likes_path(movie_evaluation_id: movie_evaluation.id),name:"like", method: :post, class: 'btn btn-primary',notice:"unlike" do %>
                         <i class="fas fa-heart like-btn"></i>
                       <%end %>
                     <% end %>
                   <% end %>
                   <%= movie_evaluation.likes.count %>
                 <% end %>
               </small>
             </p>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
</div>

<% if @user.id == current_user.id %>
  <h5>あなたのお好みジャンル</h5>
<% else %>
  <h5><%=@user.name%>のお好みジャンル</h5>
<% end %>
<%= link_to "お好みジャンル編集", new_favorite_genre_path %>
<div class="genre-list">
  <% current_user.favorite_genres.each do |favorite| %>
      <p class="genre"><%= favorite.genre_name%></p>
  <% end %>
</div>
<br>
