<% moviegenre = JSON.parse((Tmdb::Genre.movie_list).to_json) %>
<% moviegenre_recommend = JSON.parse((Tmdb::Genre.movies(28)).to_json) %>

<br>

<br>
<h1>機能工事中</h1>
<br>

<h3>あなたの好み</h3>
<div class="genre-list">
  <% @favorite_genres.each do |favorite| %>
      <a class="genre"><%= favorite.genre_name%>(<%= favorite.genre_id%>)</a>/
  <% end %>
</div>
<br>


<div class="movie_recommend_list">
  <% moviegenre_recommend['table']['results'].each do |recommended| %>
  <div class="card">
    <% if recommended['table']['genre_ids'].include?(14) %>
      aa
    <% end %>
    <% if recommended['table']['genre_ids'].include?(28) %>
      bb
    <% end %>
    <% if recommended['table']['genre_ids'].include?(28) && recommended['table']['genre_ids'].include?(14)  %>
      cc
    <% end %>
     <% if recommended['table']['poster_path'].present? %>
         <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + recommended['table']['poster_path'],class: "card-img" %></p>
     <%end%>
       <div class="card-upperinfo">
           <%if recommended['table']['title'].present?%>
               <h5>タイトル</h5>
               <h6><%= link_to recommended['table']['title'] ,top_path(recommended['table']['id'])%></h6>
           <%end%>

           <% if recommended['table']['release_date'].present? %>
               <h5>リリース</h5>
               <p class="release-date"><%= recommended['table']['release_date'] %></p>
           <%end%>
       </div>
   </div>
   <% end %>
</div>
