<!DOCTYPE html>
<html>

  <head>
    <title>FilmParadiso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <meta name="viewport" content="width=device-width"> -->

    <!-- stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
  <div class="body-wrap">
      <header class='header'>

        <ul>
          <span class="app_tilte">FilmParadiso</span>
          <div class="link-list">
            <% if user_signed_in? %>
              <li><%= link_to "ãƒˆãƒƒãƒ—ã¸", tops_path %></li>
              <li><%= link_to 'ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§', users_index_path if user_signed_in? %></li>
              <li><%= link_to "ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã¸", users_show_path %></li>
              <% if current_user.admin == true %>
                <li><%= link_to "ç®¡ç†è€…ç”»é¢", rails_admin_path,data: { confirm: 'ç®¡ç†ãƒšãƒ¼ã‚¸ã«ç§»å‹•ã—ã¾ã™ã‹?' } %></li>
              <% end %>
              <li><%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ãƒˆãƒƒãƒ—ã¸", tops_path %></li>
              <li><%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path %></li>

              <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %></li>
            <% end %>
          </div>
        </ul>
      </header>

      <article class="article">
        <ul class="side-menu">
          <% if user_signed_in? %>
            <li><%= link_to "æ˜ ç”»æ¤œç´¢", search_tops_path %></li>
            <li><%= link_to "æ˜ ç”»ãŠã™ã™ã‚", movie_recommends_path %></li>
            <li><%= link_to "ãŠå¥½ã¿ã‚¸ãƒ£ãƒ³ãƒ«", new_favorite_genre_path %></li>
            <li><%= link_to "æ˜ ç”»è©•ä¾¡ä¸€è¦§", movie_evaluations_path %></li>
            <li><%= link_to "æ˜ ç”»è©•ä¾¡æŠ•ç¨¿", new_movie_evaluation_path %></li>
            <li><%= link_to "ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸", conversations_path %></li>
          <% else %>
            <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %></li>
          <% end %>
        </ul>
        <br>
        <p class="side-img"><%= image_tag 'movie_kids.png',class:"side-img"%></p>
        <div class="content-area">
          <% if notice %>
            <p class="alert alert-notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-error"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </article>

      <footer class='footer'>
        <p>ðŸ„«Film Paradiso | Create by KSJ | email : flyingsalmon21@gmail.com</p>
      </footer>
  </div>


  </body>

</html>
