<!DOCTYPE html>
<html>
  <head>
    <title>FilmParadiso</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "トップへ", tops_path %>
      <%= link_to "映画評価一覧", movie_evaluations_path %>
      <%= link_to "映画評価投稿", new_movie_evaluation_path %>
      <%= link_to 'ユーザー一覧', users_index_path if user_signed_in? %>
      <%= link_to "プロフィールへ", users_show_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "トップへ", tops_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
